{%  extends "base.jinja2" %}


{% block head %}
    <script language="Javascript">
        var s = new WebSocket("ws://127.0.0.1:8080/stream_ws");
        s.onopen = function() {
            s.send("02559c4f-ec20-4579-b2ca-72922a90d0df");
        };
        s.onmessage = function(e) {
            var bb = document.getElementById('blackboard')
            var html = bb.innerHTML;
            bb.innerHTML = html + '<br/>' + e.data;
        };

        s.onerror = function(e) {
            console.log(e);
        }

        s.onclose = function(e) {
            bb.innerHTML = html + '<br/>' + "connection closed";
        }

        function invia() {
            var value = document.getElementById('testo').value;
            s.send(value);
        }
    </script>
{% endblock %}

{% block page_wrapper %}

<div id="blackboard" style="width:640px;height:480px;background-color:black;color:white;border: solid 2px red;overflow:auto">

</div>

{%  endblock %}

